// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #0a0040 !default;
$header-bg-color-secondary: #0a0020 !default;

// Text
$section-headings-color: #ffdead !default;
$body-text-color: #eeeeee !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;
$body-bg-color: #222030 !default;

// Code
$code-bg-color: #282a36 !default;
$code-text-color: #f8f8f2 !default;

// Borders
$border-color: #5f7285 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
